default: &default
  adapter: mysql2
  encoding: utf8
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: RailAware_development

test:
  <<: *default
  database: RailAware_test

# You can use this database configuration with:
#
#   production:
#     url: <%= ENV['DATABASE_URL'] %>
#
production:
  <<: *default
  database: RailAware_production
  username: RailAware
  password: <%= ENV['RAILAWARE_DATABASE_PASSWORD'] %>
